<div class="container mt-4">
    <div class="card shadow-lg border-0 rounded">
      <div class="row g-0">
        <!-- <div class="col-md-4 text-center p-4" *ngIf="auteur.photoUrl">
          <!-- <img [src]="auteur.photoUrl" alt="Photo de {{ auteur.nom }}" class="img-fluid rounded-circle shadow" style="max-width: 150px;"> -->
        
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">tayma</h4>
            <p class="card-text"><strong>Email:</strong> tayma31mokrani@gmail.com</p>
            <p class="card-text"><strong>Biographie :</strong></p>
            <p class="card-text text-muted">my bio Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, explicabo delectus. Tenetur illum voluptatem aliquam omnis ab earum porro doloremque distinctio. Eligendi commodi enim libero laborum veniam! Aliquid, magni id!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
